<head>
	<style> 
	</style>
    <title>Страница дневника (diary)</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #77DDE7;">
    <a class="navbar-brand" href="#">Спортивное приложение</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" href="/mainPage">Выйти</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <table class="table table-hover" width="100%" bgcolor="#f8f8ff">
                    <div class="styling_text" id="item_1">
							<tbody>
								<tr>
									<th><p>Дата</th>
									<th><p></th>									
								</tr>
								{{# each items }}
								<tr> 
									<td>{{this.date}}</td>
									<td><a href="note?id={{this.abdia}}&id2={{diaryid}}">Посмотреть запись</td>
								<td><a type="button" class="btn btn-danger" href="diary/delete?id={{this.abdia}}">х</a></td>
									</tr>
                             {{/each}}
							</tbody>
                        </table>
                    </div>
        
		

<input type="button" class="btn btn-info" onclick="history.back();" value="Назад"/>
<i><h4><a class="nav-link active" href="add_diary?id={{dia}}">Добавить</a></h4></i> 