<head>
	<style> 
	</style>
    <title>Тренер (trainerPage)</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #77DDE7;">
    <a class="navbar-brand" href="#">Спортивное приложение</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           
			<li class="nav-item">
                <a class="nav-link" href="/exercise_body">Упражнения</a>
            </li>
            
        </ul>
         <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" href="/mainPage">Выйти</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
<table class="table table-hover" width="100%" bgcolor="#f8f8ff">
<tbody>
<tr>
    <th><p>Имя</th>
    <th><p>Телефон</th>
    <th><p>Дата рождения</th>
</tr>
    {{# each items}}
    <tr>
        <td>{{this.name}} {{this.surname}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.date_of_birth}}</td>
    </tr>
    </tbody>
    </table>
        <div>
            <a href="trainerUsers?id={{this.id}}">Список клиентов
			<input type="button" class="btn btn-info" onclick="history.back();" value="Назад"/>

        </div>
    {{/each}}

</div>